
body {
  font-family: "Calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
  position: relative;
  margin: 20px auto;
  width: 300px;
}

h3 {
  font-size: 16px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.8);
}

.submit_uretılme {
  display: inline-block;
}
.submit_uretılme span {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: center;
  line-height: 35px;
  font-weight: bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.submit_uretılme.valid:after, .submit_uretılme.unvalid:after {
  font-family: FontAwesome;
  font-size: 18px;
  margin-left: 10px;
}
.submit_uretılme.valid:after {
  content: "";
  color: #2ecc71;
}
.submit_uretılme.valid .submit__input {
  border: 1px solid #2ecc71;
  color: #2ecc71 !important;
}
.submit_uretılme.unvalid:after {
  content: "";
  color: #e74c3c;
}
.submit_uretılme.unvalid .submit__input {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
.submit_uretılme .submit__input {
  position: relative;
  outline: 0;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  border: 1px solid #42A0DD;
  color: #42A0DD;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  top: -2px;
}

i.fa-refresh {
  margin: 4px 0 0px 5px;
  padding: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}
i.fa-refresh:hover {
  color: rgba(0, 0, 0, 0.4);
  transform: rotate(180deg);
}

span.submit__error,
span.submit__error--empty {
  color: #e74c3c;
  position: absolute;
  margin-top: 0px;
  margin-left: 35px;
}

.submit {
  display: block;
  margin: 15px 0 !important;
  padding: 7px 13px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  background-color: #e91e63;
  background-clip: padding-box;
  border-radius: 3px;
  box-shadow: 0 4px 0 #ee8dad;
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.submit:hover {
  background-color: #3498db;
}
.submit:active, .submit.enter-press {
  margin: 15px 0 46px 0;
  box-shadow: none;
}


.low-opa {
  opacity: 0.4;
}

.fadeOut {
  opacity: 0;
  transform: translateY(10px);
}

.fadeIn {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.form-fields,
.form-success {
  transition: all 0.2s ease-out;
}

.form-success {
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 20px;
}